
/*Fonts----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script:wght@700&family=Roboto:wght@300&family=Source+Sans+Pro:ital,wght@1,900&display=swap');

html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;	
	text-align: left;
}
a {
	text-decoration: none;
}
h2 {
    color: #D17878;
    font-size: 1.2em;

}

textarea{
	margin-left: auto;
    margin-right: auto;}

.container {
	display: flex;
	flex-wrap: wrap;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
}
.limited-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*visually hidden but still available to screen readers*/
.hidden {
	position:absolute;
	left:-10000px;
 	width:1px;
	height:1px;
}

/*--- Footer -------------------------------------*/

#footer {
	font-family: 'Source Sans Pro', sans-serif;
	flex: 1 0 100%;
}
#mobile-logo {
	display: none;
}
#desktop-logo {
	display: block;
}
#social-media-nav, #footer-main-nav {
	background-color: #FEDCD2;
	color: #D17878;
	flex: 1 1 20%;
} 
#social-media-nav {
	text-align: center ;
}
#required-nav{
	flex: 1 1 60%;
	text-align: center;
}
#social-media p {
	margin-top: 35%;
}
#social-media a {
	padding-left: 20px;
}
.icon {
	color: #D17878;
	font-size: 1.2em;
}
.icon:hover {
	color: #ce4848;
}
.footer-menu {
	padding-left: 36%;
	padding-top: 7%;
}
.footer-menu li {
	list-style-type: none;
	flex: 0 0 100%;
	margin-bottom:15px;
}
.footer-menu a {
	color: #D17878;
}
.footer-menu a:hover {
	color: #ce4848;
}
.logo {
	flex: 1 1 60%;
	text-align: center;
	margin-top: 18px;
}
#required-nav ul {
	margin-left: -42px;
}
#required-nav li {
	display: inline-block;
}
#required-nav li> a{
	color: rgb(0, 0, 0);
	font-size: 0.9em;
}
#required-nav a:hover {
	color: #D17878;
}
/* -header navigation ------------------------------------ */

#header {
	background: #ffffff;
	font-family: 'DM Sans', sans-serif;
	color: #D17878;
	flex: 1 0 100%;
}
#header-logo {
	flex: 1 1 20%;
	margin-left: 10px;
	margin-top: 2px;
}
#main-menu {
	flex: 1 1 80%;
	margin-top: 20px;
}
#main-menu li{
	display: inline-flex;
	list-style-type: none;
	flex: 1 1 16.67%;
	overflow: hidden;    /*hiding the uderline*/   
}
#main-menu a {
	color: #D17878;
	font-size: 1.1em;
	font-weight: 800;
	position: relative;
	transition: all 0.3s ease-out;
}
#menu-toggle {
	display: none;
	border: none;
	background-color: #ffffff;
	color: #D17878;
  	padding-right: 20px;
 	text-align: center;
 	text-decoration: none;
 	font-size: 2em;
}
/*creating underline*/
#main-menu a:after {
	display: block;
	background-color:#D17878;
	width: 100%;
	height: 2px;
	bottom: 0;
	position: absolute;
	transform: translateX(-100%);
	transition: all 0.3s ease-out;
	content: '';
}
#main-menu a:hover {
	transition: all 0.3s ease-out;
}

#main-menu a:hover::after {
	transition: all 0.3s ease-out;
	transform: translateX(0%) ;
}
/*-- home page main ------------------*/

.main {
	font-family: 'Roboto', sans-serif;
	flex: 1 0 100%;
}
.main-flex-items {
	flex: 1 0 100%;
}
#banner {
	width: 100%;
	background-image: url(../images/try.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-container {
	padding: 90px 0;
}
.text-container h1{
	font-family: 'Dancing Script', sans-serif;
	font-size: 4em;
	margin: -4% 0 12% 0;
	text-align: center;
}
.blur {
	width: 40%; ;
	padding: 20px 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	margin-left: 30%;
}
.blur p {
	margin: 0 10px;
}
.pink-header {
	color: #D17878;
	font-size: 1.3em;
	text-align: center;
	font-family: 'Roboto';
}
.header-border {
	border-bottom: 2px solid #FEDCD2;
	width: 40%;
	margin-left: 30%;
}
/*------------------------*/
#limited-items {
	margin: 5%;
	width: 90%;
}
.flex-item {
	flex: 0 1 362px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}
.flex-item img {
	width: 100%;
	object-fit: cover;
}
.flex-item div {
	background-color: #FEDCD2;
	height: 70px;
	text-align: center;
}
.flex-item:nth-child(1) {
	margin-right: 25px;
}
.flex-item:nth-child(2) {
	margin-right: 25px;
}
.flex-item-margin {
	margin-bottom: 10px;
}
/*bestseller----------------------------------------------------*/
#best-seller {
	margin-top: 30px;
	margin-bottom: 100px;
}
#slideshow-container {
	margin: 50px 0;
	position: relative;
}
#prev-btn , #next-btn {
	margin-top: 160px;
	flex: 0 1 20%;
	text-align: center;
	display: block;
}
.slide-item {
	flex: 0 1 70%;
	display: none;
}
.slide-item img {
	flex: 0 2 50%;
	width: 100%;
    max-width: 350px;
    height: auto;
}
.more-info {
	flex: 1 1 50%;
	margin-top: 5%;
}
.info-header {
	background-color: #FEDCD2;
	padding: 30px 0;
}
.info-details {
	padding: 30px 0 0 30px;
}
.more-info h2 {
	padding-left: 30px;
}
.info-header p {
	padding-left: 30px;
	font-style: italic;
}
.info-details p {
	padding-bottom: 20px ;
}
.icon-btn {
	font-size: 2em ;
	color: #D17878;
}
.icon-btn:hover {
	color: #ce4848;
	cursor: pointer;
}
/* #more-info p {
	color: #D17878;
} */
.more-info-btn {
	background-color: #D17878;
	color: #ffffff;
	padding: 10px 15px;
}
.more-info-btn:hover {
	cursor: pointer;
	background-color: #ce4848;
}
#dot-counter {
	text-align: center;
	display: block;
}
.dot {
	display: inline-block;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	background-color: #C4C4C4;
	transition: background-color 0.6s ease;
	margin-right: 15px;
}
.active, .dot:hover {
	cursor: pointer;
	background-color: #FEDCD2;
}
/*-above footer----------------------------------------*/

     
}
#behind-text {
	padding: 80px 0;
}
#behind-blur {
	margin-left: 20%;
	width: 60%; 
	padding: 10px 0;
	text-align: center;
	color: #D17878;
	font-size: 1.2em;
	font-weight: 800;
	background-color: rgba(255, 255, 255, 0.9);
}

/*-- Location -------------------------*/

#location-header {
	background-color: #D17878;
	color: #ffffff;
	font-weight: 600;
	text-align: center;
	padding: 50px 0;
	font-size: 2.3em;
	margin-top: -1px;
}
#location-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin: 70px auto 40px auto;
}
#map {
	flex: 4 1 0;
}
#map-canvas {
	width: 500px;
	height: 500px;
}
#address {
	flex: 1 1 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 30px;
}
.address-flex-items {
	flex: 1 0 100%;
}
.address-flex-items:nth-child(1) {
	padding-top: 10px;
	margin-top: 0;
}
.address-flex-items:nth-child(2) , .address-flex-items:nth-child(3) {
	padding-top: 10px;
	border-top: 1px solid gray ;
}
#address button {
	background-color: #ffffff;
	border: none;
	font-size: 1.6em;
	font-weight: 600;
	color: rgb(43, 43, 43);
	margin-left: -8px;
}
#address button:hover {
	cursor: pointer;
	color: #D17878;
}
.add-icon {
	color: rgba(43, 43, 43, 0.747);
}

/*-- Media Queries--------------------------*/
@media screen and (max-width:870px) {
	#main-menu a:after {
		display: none;
	}
	#main-menu {
		display: none;
		margin: -10px 0 -16px -40px;
	}
	#main-menu li{
		padding: 5px 35px 10px 0;
		direction: rtl;
		display: flex;
		list-style-type: none;
		flex: 0 0 100%; 
		background-color: #fee7e0;
	}
	ul.flex-container {
		display: flex;
		flex-wrap: wrap;
	}
	#main-menu li:hover {
		color: #ffffff;
		background-color: #D17878;
	}
	#main-menu li:hover a {
		color: inherit;
	}
	#menu-toggle {
		display: block;
	}
	nav.flex-container {
		flex-wrap: wrap;
	}
	
}
@media screen and (max-width:847px){ /* for small desktop screens */
	.flex-item:nth-child(1) {
		margin-right: 0px;
	}
	.flex-item:nth-child(2) {
		margin-right: 0px;
	}
	.blur {
		width: 70%; ;
		padding: 15px 5px;
		font-size: 1em;
		margin-left: 120px;
	}
}
@media screen and (max-width:590px) {   /* for smartphone screens */
	/* Foooter Section*/
	#footer {
		flex: 1 0 100%;
		background-color: #FEDCD2;
		flex-direction: column;
	}
	#mobile-logo {
		flex: 1 1 100%;
		display: block;
		order: -3;
		text-align: center;
	}
	#desktop-logo {
		display: none;
	}
	#footer-main-nav {
		order: -2;
	}
	#social-media-nav {
		order: -1;
		margin-bottom: 10px;
	}
	#social-media-nav, #footer-main-nav {
		color: #D17878;
		flex: 1 1 100%;
		text-align: center ;
	} 
	#required-nav{
		flex: 1 1 100%;
		text-align: center;
	}
	#social-media p {
		display: none;
	}
	.icon {
		color: #D17878;
		font-size: 1.2em;
	}
	.footer-menu {
		padding-left: 0;
		padding-top: 0;
		font-size: 1em;
	}
	.footer-menu li {
		list-style-type: none;
		flex: 0 0 100%;
		margin-bottom:10px;
	}
	.logo img{
		margin-top: 18px;
	}
	#required-nav li> a{
		color: rgb(0, 0, 0);
		font-size: 0.8em;
	}
	#required-nav p {
		font-size: 0.8em;
	}
/*limited section*/
	.header-border {
		width: 60%;
		margin-left: 20%;
	}
	.flex-item:nth-child(1) {
		margin-right: 0px;
	}
	.flex-item:nth-child(2) {
		margin-right: 0px;
	}

	#behind-blur {
		margin-left: 18px;
		width: 90%; 
		padding: 10px 0;	
	}
	#behind-link a:link {
		color: #D17878;
	}
	#prev-btn {
		display: none;
	}
	#next-btn {
		display: none;
	}
	.text-container {
		padding: 30px 0;
	}
	.text-container h1{
		font-size: 2em;
		margin: -4% 0 10% 0;
	}
	.blur {
		width: 90%; ;
		padding: 15px 5px;
		font-size: 0.8em;
		margin-left: 20px;
	}
}
@media screen and (max-width:530px) {
	#map-canvas {
		width: 400px;
		height: 400px;
	}
	.address-flex-items:nth-child(1) {
		margin-top: 20px;
	}
	#address {
		margin-left: 0;
	}
	#prev-btn , #next-btn {
		display: none;
	}
	#dot-counter {
		display: none;
	}
}
@media screen and (max-width:420px) {
	#map-canvas {
		width: 300px;
		height: 300px;
	}
	.address-flex-items:nth-child(1) {
		margin-top: 20px;
	}
	#address {
		margin-left: 0;
	}
}

